.timeslot-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 0 0 40px 0;
  width: 800px;
  height: 100px;
  cursor: pointer;
}

.timeslot {
  &__time {
    display: flex;
    flex-direction: column;
    > p {
      margin: 0;
      padding: 0;
    }
  }
}
